.rf-page__default{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.rf-header{
    position: relative;
    z-index: 2;
    .rf-header__content{
        background:$color-client-sec;
        // box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.08);
        height: 70px;
        @include mx-flex();
        @include mx-flex-row();
        @include mx-flex-align-center();
        @include mx-flex-justify-between();
        gap:20px;
        padding: 0 20px;

        p{
            color: #333;
        }
        button{
            border: 0;
        }
        
        .MuiInputBase-input{
            color:rgb(90, 120, 146);
            position: relative;
            font-size: 0.8em;
            width: 110px;
            height: 30px;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            @include mx-flex();
            @include mx-flex-center();
            line-height: initial;
        }
        .MuiInput-underline:before{
            border: 0 !important;
        }
        
    }
}

.rf-menu{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    background: #f7f7f7;
    box-sizing: border-box;
    overflow: hidden;
    .rf-wid-100{
        float: left;
        width: 100%;
    }
    a{
        padding: 10px 20px;
        text-decoration: none;
        box-sizing: border-box;
        color: rgb(122, 122, 122);
        font-size: 0.9em;
        span{
            @include mx-flex();
            @include mx-flex-row();
            @include mx-flex-align-center();
            gap:15px;
            &:before{
                @include mx-flex();
                @include mx-flex-center();
                width: 40px;
                height: 40px;
                background: $color-client-sec;
                border-radius: 7px;
            }
        }
        &:hover{
            background: $color-client-sec;
        }
    }
    .rf-logo{
        width: 100%;
        padding: 0 20px;
        height: 70px;
        background: $color-client-sec;
        @include mx-flex();
        @include mx-flex-align-center();
        @include mx-flex-justify-start();
        span{
            
            @include mx-flex();
            @include mx-flex-row();
            @include mx-flex-align-center();
            gap:15px;
            color: rgb(114, 114, 114);

            &:before{
                @include mx-flex();
                @include mx-flex-center();
                width: 40px;
                height: 40px;
                background: $color-client;
                border-radius: 7px;
                color: #fff;
            }

            img{
                width: 70px;
            }
        }
    }
    .rf-versionsystem{
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 2px dotted #ccc;
        font-size: 0.8em;
        color: #ccc;
    }
}

.rf-body{
    float: right;
    width: calc(100% - 250px);
}

.rf-footer{
    display: none;
}
