.box-header{
    .box-header__content{
        background:rgb(235, 235, 235);
        padding: 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:20px;

        p{
            color: #333;
        }
        button{
            border: 0;
        }
    }
}
.woo-page__default{
    width: 100%;
    grid-gap: 10px;     
    grid-template-rows: 80px 200px; 
}


/*MENU INICIO*/

.Menu{   
    background-color: #060b26;
    grid-area: main; grid-area: 2/1/60;
    width: 30vh;
}

.Menu li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
    flex: 1;    
}

.Menu li a:hover{
    background-color: #1a83ff

}

.navbar{
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu-active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover{
    background-color: #1a83ff;
}

/*MENU FINAL*/

.PaginaAtual { 
    grid-area: main; 
    background-color: white;
    grid-area: 2/2/60/7; 
    width: 165vh;}

.Footer { 
    grid-area: footer; 
    background-color: #060b26; 
    height: 6vh; 
    grid-area: 60/1/60/7
}

.Content{
    display: flex;
    flex: 1;
    background-color: #ddd;    
}

.Header label{
    padding-left: 10px;
    padding-right: 5px;
}

.Header button{    
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;    
    cursor: pointer;    
}

.Header button:hover{    
    background-color: rgb(136, 141, 141);
    color: black;    
}

.Header strong{
    padding-right: 20px;
}

.Header .MuiInputBase-input{
    color:rgb(90, 120, 146);
    position: relative;
    padding-top: 5%;
    font-size: 18px;
    min-width: 20rem;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    background-color: #f5f5f5;
}
