$rf-directions: top, bottom, right, left;


//----------------------------- PADDINGS & MARGINS


@for $i from 1 through 20 {
    .--pd-#{$i * 5},
    .rf-pd-#{$i * 5} {
        padding: $i * 5;
    }
}

@for $i from 1 through 20 {
    .--pd-#{$i * 5}-0,
    .rf-pd-#{$i * 5}-0 {
        padding: $i * 5 0;
    }
}

@for $i from 1 through 20 {
    .--pd-0-#{$i * 5},
    .rf-pd-0-#{$i * 5} {
        padding: 0 $i * 5;
    }
}

.rf-mg-0-auto{
    margin:0 auto;
}


@for $i from 1 through 20 {
    .--mg-#{$i * 5}-0,
    .rf-mg-#{$i * 5}-0 {
        margin: $i * 5 0;
    }
}
@for $i from 1 through 20 {
    .--mg-0-#{$i * 5},
    .rf-mg-0-#{$i * 5} {
        margin: 0 $i * 5;
    }
}


@each $direction in $rf-directions {
    @for $i from 1 through 10 {
        .--pd-#{$direction}-#{$i * 10},
        .rf-pd-#{$direction}-#{$i * 10} {
            padding-#{$direction}: $i * 5;
        }
    }
}

@each $direction in $rf-directions {
    @for $i from 1 through 10 {
        .--mg-#{$direction}-#{$i * 5},
        .rf-mg-#{$direction}-#{$i * 5} {
            margin-#{$direction}: $i * 5 !important;
        }
    }
}


@for $i from 0 through 20 {
    .--mg-#{$i + 1},
    .rf-mg-#{$i + 1} {
        margin: $i + 5;
    }
}

.rf-pd-3{
    padding:3px;
}
.rf-mg-0{
    margin:0;
}
