$color-client: rgb(50, 130, 223);
$color-client-sec: #f1f1f1;

$color-0: #fff;
$color-1: #186096;
$color-2: #a4d121;
$color-3: #000000;
$color-4: #9c9c9c;
$color-5: #DDDDDD;
$color-6: #ededed;
$color-7: #f7f7f7;
$color-8: #1a80e2;
$color-9: #ee4343;
$color-10: #24d35d;
$color-11: #DCA42E;
$color-12: #32D2CE;


