
.user-login__title {
  font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
}

.user-login__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.user-login__form-control input { 
  width: 360px;
  height: 36px;
  padding: 5px 10px;
}

.user-login__form-control input:focus {
  outline: 0;
  border-color: #5988df;
}

.user-login__submit-button {
  width: 100%;
  margin-top: 30px;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: #060b26;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.25rem;
  border-radius: 0.25rem;
}

.user-login__error {
  color: red;
}

.wrapper{
  position: relative;
  border: 1px solid rgb(182, 187, 194);
  border-radius: 0.25rem;
  padding: 1.5rem;
  width: 400px;
  margin: 40px auto;  
}

#loader{
  position: absolute;
  top: 100%;
  right: 49%;
}

.btn-recuperar-senha{
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-decoration: underline;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: rgb(127, 133, 141);
  margin: 0.5rem 0px 1rem;
}

.logotipo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  margin-top: 60px;
}

.btn-enviar-recuperacao { 
  color: rgb(255, 255, 255);
  background: #060b26;  
  background-color: #060b26;
}

.dialog-title {
    
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 36px;
    
}

.dialog-message {
    
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 36px;
  
}
